<footer class="footer">
  <div class="d-flex flex-column">
    <div class="thrive"></div>
    <div class="row">
      <div
        class="col-xs-12 col-sm-12 col-md-12 alert alert-dismissable bg-info navbar-fixed-bottom text-center text-white mb-0"
      >
        <p class="lead small">
          By logging in to this system, you are entering a system owned by
          Cargill, Incorporated or its affiliated companies (Cargill). Use of this
          system is governed by Cargill's policies and procedures. Cargill
          expressly reserves the right to access, monitor, read, copy, print,
          and/or disclose any application data, electronic files or other computer
          records created, received and/or stored through your use of this Cargill
          system. Unauthorized access to or use of this system is strictly
          prohibited. By entering this system, you acknowledge the requirement to
          protect the data herein as set forth by Cargill policies and procedures.
          This system may contain data that is confidential to Cargill, its
          customers, or suppliers. Legal requirements for protecting this data
          include, but are not limited to, contractual agreements Cargill has with
          third parties as well as state, national, and international data privacy
          laws requiring the protection of personally identifiable information.
        </p>
      </div>
    </div>
  </div>
  
</footer>
